{{define "head"}}<title>Art decoder</title>{{end}}
{{define "body"}}
<form action="/" method="post">
    <textarea rows="25" cols="50" name="input"></textarea> </p>
    <input type="radio" id="decode" name="processMethod" value="decode" checked/>
    <label for="decode">Decode</label>
    <input type="radio" id="encode" name="processMethod" value="encode" />
    <label for="encode">Encode</label>
    <p><input type="submit" value="generate"/></p>
</form>
<p>Status code: {{.StatusCode}}</p>
{{end}}